<nav class="h-16 w-full shadow">
    <div class="container mx-auto h-full flex items-center justify-between">
        <h4><%= link_to "MasterPiece", root_path %></h4>
        <div class="flex items-center space-x-5">
            <%if current_user%>
                <%= button_to "Sign Out", destroy_user_session_path, method: 'delete' %>
            <%else%>
                <%= link_to "Sign Up", new_user_registration_path %>
                <%= link_to "Sign In", new_user_session_path %>
            <%end%>
        </div>
    </div>
</nav>